*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(16, 16, 19);
}
.container{
    width: 70%;
    max-width: 400px;
    background-color: rgb(11, 10, 39);
    color: snow;
    margin: 10px auto 0;
    border-radius: 10px;
    padding: 15px 10px;
    text-align: left;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
h1{
    margin-bottom: 20px;
    color: #18dcff;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    position: relative;
    cursor: pointer;
    padding: 12px 7px 12px 35px;
    list-style-type: none;
    font-size: 18px;
    transform: 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul li:hover{
    background: #00eeff;
}
ul li.checked::before{
    content:'' ;
    position: absolute;
    border-color: white;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 10px;
    transform: rotate(45deg);
    height: 15px;
    width: 8px;
}
.close{
    position:absolute;
    right: 0;
    top:0;
    padding: 12px 16px 12px 16px;
}
.close:hover{
    background-color: #18dcff;
    color: antiquewhite;
}
.header{
    padding: 30px 40px;
    color: antiquewhite;
    text-align: center;
}
.header::after{
    content: 0;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 80%;
    padding: 10px;
    float: left;
    font-size: 16px;
    outline: none;
}
.btn{
    padding: 10px;
    width: 20px;
    background: azure;
    color: dimgray;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:hover{
    background-color: blue;
}